@page "/article/{Id:int}"

<div class="container">
    <div class="main-image-article">
        <img class="w-100" src="images/mainImagesArticle/@post.Image">
    </div>

    <h1>@post.Title</h1>
    <h4>@post.Introduction</h4>
    <p>@post.Body</p>
</div>

@using TroutBlog.Data.Entities;
@using TroutBlog.Data;
@inject IConfiguration Configuration;
@code {
    [Parameter]
    public int Id { get; set; }

    private AppDBContext _context;
    public BlogPost post;

    protected override async Task OnInitializedAsync()
    {
        _context = new AppDBContext(Configuration);
        post = _context.Posts.Where(x => x.Id == this.Id).FirstOrDefault();
    }
}