@page "/"

<PageTitle>Trout Blog</PageTitle>

<div class="container">
    <hr />
    @foreach(BlogPost post in posts)
    {
        <a href="/Article/@post.Id">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumb-post">
                    <img class="w-100" src="images/mainImagesArticle/@post.Image">

                    </div>
                            <!-- Image for the post goes here -->
                </div>
                <div class="col-sm-8 post-landing-page">
                    <h1>@post.Title</h1>
                    <p><small>@post.PostCreationTime.ToString("dd/mm/yyyy")</small></p>
                    <p>@post.Introduction</p>
                </div>
            </div>
        </a>
        <hr />
    }
</div>

@using TroutBlog.Data.Entities;
@using TroutBlog.Data;
@inject IConfiguration Configuration;
@code{
    private AppDBContext _context;
    public List<BlogPost> posts = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        _context = new AppDBContext(Configuration);
        posts = _context.Posts.ToList();
    }
}