@page "/"

<PageTitle>Trout Blog</PageTitle>

<div class="container">
    <hr />
    @foreach(BlogPost post in posts)
    {
        <a href="/Article/@post.Id">
            <div class="row">
                <div class="col-4">
                    <!-- Image for the post goes here -->
                </div>
                <div class="col-8">
                    <h1>@post.Title</h1>
                    <p>@post.Introduction</p>
                </div>
            </div>
        </a>
        <hr />
    }
</div>

@using TroutBlog.Data.Entities;
@using TroutBlog.Data;
@inject IConfiguration Configuration;
@code{
    private AppDBContext _context;
    public List<BlogPost> posts = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        _context = new AppDBContext(Configuration);
        posts = _context.Posts.ToList();
    }
}