@page "/Login"
@using Data.Entities

<div class="container">
    <EditForm Model="@user" OnSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <br>
        <div class="mb-2 d-flex justify-content-center">
            <h2>Login</h2>
        </div>
        <div class="mb-2 d-flex flex-column align-items-center">
            <InputText @bind-Value="user.Email" type="email" class="login-textbox" placeholder="Email" style="outline: 1px solid #D3D3D3;"  />
            <ValidationMessage For="() => user.Email" />
        </div>
        <div class="mb-2 d-flex flex-column align-items-center">
            <InputText @bind-Value="user.Password" type=" password" class="login-textbox" placeholder="Password" style="outline: 1px solid #D3D3D3;" />
        </div>
        <div>
            <p class="d-flex justify-content-center">Not a memeber?&nbsp;<a href="/register" class="link-primary">Register</a></p>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="login-button">Login</button>
        </div>
    </EditForm>
</div>


@code {
    private ConnectedUser user = new();

    private void HandleSubmit()
    {
        //Check if there is a coresponding email with the correct password hash inside of it.
    }
}