@inherits LayoutComponentBase

<PageTitle>TroutBlog</PageTitle>

<div class="page">

    <main>
        <div class="container">
            <div class="top-row px-4">
                <div class="top-bar-left">
                    <img class="top-bar-left" src="images/mainImagesArticle/troutArticle1.png" />
                    <a href="/">NETroutBlog</a>
                </div>
                <a href="/Login">Login</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
